.footer {
  background-color: #025586;
  padding: 0.7em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
  color: #faf200;
}

.social_list svg:hover {
  color: #fff;
}

.copy_right span {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

hr {
  color: #000;
}
